<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pearl Signs - Professional Business Signage</title>


	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/animate.css">
	
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
 
	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="css/jquery.timepicker.css">
	
	<link rel="stylesheet" href="css/flaticon.css">
	<link rel="stylesheet" href="css/style.css">

	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">

</head>
<body>
	<%- include('./partials/header', {pageTitle:'Home'}) %>     
	<!-- END nav -->
	
	<%- include('./partials/large', {pageTitle:'Projects', imgurl:'images/floor-elevated-angle.jpg'}) %>     


	<section class="ftco-section ftco-no-pt ftco-no-pb ftco-services-2">
		<div class="container">
			<div class="row no-gutters d-flex">
				<div class="col-lg-4 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-flex">
						<div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-engineer-1"></span></div>
						<div class="media-body pl-4">
							<h3 class="heading mb-3">Quality Fabrication</h3>
							<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
						</div>
					</div>      
				</div>
				<div class="col-lg-4 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services services-2 d-flex">
						<div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-worker-1"></span></div>
						<div class="media-body pl-4">
							<h3 class="heading mb-3">Professional Liability</h3>
							<p>Your business has a story, and our job is to help you tell it. Located in Markham, we’ve built a reputation for creating signage that turns heads, sparks conversations, and drives results.</p>
						</div>
					</div>      
				</div>
				<div class="col-lg-4 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-flex">
						<div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-engineer"></span></div>
						<div class="media-body pl-4">
							<h3 class="heading mb-3">Dedicated To Our Clients</h3>
							<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
						</div>
					</div>      
				</div>
			</div>
		</div>
	</section>

	<%- include('./partials/about', {pageTitle:'Home'}) %>     

	<section class="ftco-intro">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 text-center">
					<div class="img"  style="background-image: url('images/PEARL SIGNS TRANSPORT TRUCK.jpeg');">
						<div class="overlay"></div>
						<h2>Providing Personalized and High Quality Services</h2>
						<p>We can manage your dream building A small river named Duden flows by their place</p>
						<p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3" data-toggle="modal" data-target="#exampleModalCenter">Request A Quote</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-half-light">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<span class="subheading">Our Services</span>
					<h2 class="mb-4">We Offer Services</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<%- include('./partials/servicecard', {imgurl:'images/blender-design.jpeg', header:'Design',description:'We pride ourselves on delivering high-quality design solutions that make your brand stand out. With our in-house designer team, we ensure every project is crafted with precision, creativity, and attention to detail.'}) %>     
				</div>
				<div class="col-md-4">
					<%- include('./partials/servicecard', {imgurl:'images/services/sign-construction.jpeg', header:'Sign Construction',description:'We specialize in sign construction with a focus on durability, precision, and craftsmanship. From concept to completion, we handle every step of the process in-house, ensuring unmatched quality and attention to detail. Our team takes pride in manufacturing pylon signs from scratch, using premium materials and advanced techniques to create structures that are not only visually striking but also built to withstand the elements.'}) %>     
				</div>
				<div class="col-md-4">
					<%- include('./partials/servicecard', {imgurl:'images/services/obtaining-permits.jpeg', header:'Permits & Regulations',description:'We handle the city sign permit process from start to finish, ensuring a smooth and hassle-free experience for our clients. Our experienced team manages every step, from preparing accurate sign drawings and documentation to submitting applications and coordinating with local authorities. We stay up-to-date with municipal regulations and zoning requirements, guaranteeing your signage complies with all codes and standards. '}) %>     
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<%- include('./partials/servicecard', {imgurl:'images/cnc-machine.jpg', header:'CNC & Fabrication',description:'We don’t just create signs—we craft stories that resonate. We specialize in bringing your vision to life with custom, high-quality signage that makes your business impossible to ignore.'}) %>     
				</div>
				<div class="col-md-4">
					<%- include('./partials/servicecard', {imgurl:'images/laser-cutter.png', header:'Laser Cutting & Engraving',description:'We don’t just create signs—we craft stories that resonate. We specialize in bringing your vision to life with custom, high-quality signage that makes your business impossible to ignore.'}) %>     
				</div>
				<div class="col-md-4">
					<%- include('./partials/servicecard', {imgurl:'images/services/wide-format-printing.jpg', header:'Large Format Printing',description:'We don’t just create signs—we craft stories that resonate. We specialize in bringing your vision to life with custom, high-quality signage that makes your business impossible to ignore.'}) %>     
				</div>
			</div>
      <div class="row">
				<div class="col-md-4">
					<%- include('./partials/servicecard', {imgurl:'images/services/sign-lighting-solutions.jpg', header:'Sign Lighting Solutions',description:'We don’t just create signs—we craft stories that resonate. We specialize in bringing your vision to life with custom, high-quality signage that makes your business impossible to ignore.'}) %>     
				</div>
				<div class="col-md-4">
					<%- include('./partials/servicecard', {imgurl:'images/services/sign-construction.jpeg', header:'Sign Construction',description:'We don’t just create signs—we craft stories that resonate. We specialize in bringing your vision to life with custom, high-quality signage that makes your business impossible to ignore.'}) %>     
				</div>
				<div class="col-md-4">
					<%- include('./partials/servicecard', {imgurl:'images/services/obtaining-permits.jpeg', header:'Permits & Regulations',description:'We don’t just create signs—we craft stories that resonate. We specialize in bringing your vision to life with custom, high-quality signage that makes your business impossible to ignore.'}) %>     
				</div>
			</div>
			<a href="services" class="btn btn-primary">Our Services</a>
		</div>
	</section>

	<%- include('./partials/counter', {pageTitle:'Home'}) %>     

	<%- include('./partials/footer', {pageTitle:'Home'}) %>     


		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<%- include('./partials/modal') %>

		</div>

		<!-- loader -->
		<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

		<script src="js/jquery.min.js"></script>
		<script src="js/jquery-migrate-3.0.1.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
		<script src="js/jquery.waypoints.min.js"></script>
		<script src="js/jquery.stellar.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/jquery.animateNumber.min.js"></script>
		<script src="js/bootstrap-datepicker.js"></script>
		<script src="js/jquery.timepicker.min.js"></script>
		<script src="js/scrollax.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
		<script src="js/google-map.js"></script>
		
		<script src="js/main.js"></script>
		<script src="js/firebase.js"></script>
		<script>
			 document.addEventListener('DOMContentLoaded', async () => {
				try {
				// Call /auth endpoint
				const response = await fetch('/firebase/visit', {
					method: 'POST', // Use POST since /auth is a POST endpoint
					headers: { 'Content-Type': 'application/json' }
				});
				console.log(response);
			} catch (error) {
				console.log(error);
			}
            // Set up the button click handler
        });

		</script>
	</body>
	</html>